{% extends 'base.html' %}
{% block content %}

  <div class="card shadow mb-3 ">
                <div class="card-body">
                    <h5 class="card-title">{{task.task}}</h5>
                    <p><b> Priority:</b> {{task.prio}}</p>
                    <p><b>Date:</b> {{task.date}}</p>
                    <a class="btn btn-danger" href="{% url 'todoapp:delete' task.id %}">Done</a>
                    <a class="btn btn-warning" href="{% url 'todoapp:edit' task.id %}">Edit</a>
                </div>
            </div>

{% endblock %}